Repository SweetSofiMC/howdy-tech-reviews, pull requests merged in 2021-08, with the labels that each got.

#15 Login page
  frontend/src/Components/LoginPage.css
  frontend/src/Components/LoginPage.js
Labels: frontend

#21 Navigation bar styling
  frontend/public/index.html
  frontend/src/Components/App.css
  frontend/src/Components/FullListing.js
  frontend/src/Components/LoginPage.css
  frontend/src/Components/NavigationBar.css
  frontend/src/Components/NavigationBar.js
Labels: enhancement, frontend

#20 Listing database working
  backend/app/__init__.py
  backend/app/server.py
  backend/database.yml
  backend/example.env
  backend/requirements.txt
  backend/wsgi.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/FullListing.js
  frontend/src/api.js
Labels: backend

#23 Fixed alt text compile warning
  frontend/src/Components/FullListing.js
Labels: bug, frontend

#36 CI/CD
  .github/check.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/app/__init__.py
  backend/database.yml
  backend/entrypoint.sh
  backend/example.env
  backend/requirements.txt
  docker-compose.yml
  example.env
  frontend/.dockerignore
  frontend/.eslintrc.json
  frontend/Dockerfile
  frontend/frontend.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Listing.js
  frontend/src/Components/LoginPage.js
  frontend/src/Components/Main.js
  frontend/src/Components/NewPostPage.js
  frontend/src/api.js
  frontend/src/index.js
  nginx-certbot.env
  user_conf.d/nginx-conf.conf
Labels: enhancement, frontend, backend

#52 Continuous Deployment enhancements
  docker-compose.yml
  frontend/Dockerfile
  user_conf.d/nginx-conf.conf
Labels: enhancement
